extends layout

block content
  h1 My Form
  form(action="/results" method="post")
    label(for="description") Description:
    br
    textarea(id = "description" name = "description" cols=40 rows=5)
    br
    label(for="agree") Agree?
    input(type="checkbox" name="agree" id = "agree" value = "agree")

    input(type="radio" name="icecream" id="chocolate" value="chocolate")
    label(for="chocolate") Chocolate

    input(type="radio" name="icecream" id="strawberry" value="strawberry" checked)
    label(for="strawberry") Strawberry

    input(type="radio" name="icecream" id="vanilla" value="vanilla")
    label(for="vanilla") Vanilla

    input(type="radio" name="iceCreamOther" id="other" value="noneOfThose")
    label(for="other") Other
    br
    button(type="submit") Submit This
